*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html{
    line-height: 1.3;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 10px 100px;
    
}

body{ 
    display: inline-flex;
    flex-flow: wrap-reverse;
    height: 100%;
    width: 100%;   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;   
    justify-content: center;
}

.main-container1{
    flex-basis: 30%;
    flex-shrink: 0;
    flex-grow: 2;
    background-color: coral;
    padding: 30px 10px 10px 10px;
    list-style-position: inside;
    word-wrap: break-word;
    display: flex;
}

.main-container2{
    flex-basis: 70%;
    flex-grow: 1;
    flex-flow: column;
    padding: 5px 10px 0 10px;
    background-color: lightblue;
}

.content2 > h4, .content3 > h4, .content4 >h4 {
    padding: 0 0 10px 0;
}

.nos{
    padding: 0 0 10px 241px;
}

.ya{
    padding: 0 0 0 173px;
}

.prim{
    padding: 0 0 0 70px;
}

.sec{
    padding: 0 0 0 50px;
}

.ter{
    padding: 0 0 0 72px;
}

.prim_content{
    padding: 0 0 0 48px;
}

.sec_content{
    padding: 0 0 0 67px;
}

.ter_content{
    padding: 0 0 0 87px;
}

.prim_content_year{
    padding: 0 0 0 138px;
}

.sec_content_year{
    padding: 0 0 0 162px;
}

.ter_content_year{
    padding: 0 0 0 181px;
}

.ca{
    padding: 0 0 0 182px;
}

.pos{
    padding: 0 0 10px 0;
}

.dos{
    padding: 0 0 0 156px;
}

.boi{
    padding: 0 0 0 79px;
}

.year{
    padding: 0 0 0 155px;
}

.hr1, .h2, .h3 {
    padding: 1px 0 1px 0;
    background-color: rgb(94, 91, 91, 0.7)
}

.content1{
    display: flex;
    align-content: center;
    padding: 0 0 10px 5px;
    
}
.div1{
    flex: 1;    
    align-self: flex-end;
    padding: 0 0 10px;
}

.div2{
    align-self: center;
    flex: 1;
}

img{
    width: 100px;
    height: 100px;
    float: right;
    border-radius: 50%;
}

.content2, .content3, .content4{
    padding: 5px 0 5px 5px;
}

.age{
    padding: 0 0 0 91px;
}

.religion{
    padding: 0 0 0 62px;
}


.mon{
    padding: 0 0 0 10px;
}

.fon{
    padding: 0 0 0 18px;
}

.age_content, .religion_content, .mon_content, .fon_content{
    padding: 0 0 0 10px;
}


@media only screen and (max-width: 768px) {

    html{
        height: auto;
        padding: 10px;
    }

    body{
        flex-flow: column-reverse;
    }

    img{
        border-radius: 30%;
    }

    .hr1, .hr2, .hr3{
        display: none;
    }

    .content2 >h4, .content3 > h4, .content4 > h4{
        background-color: gray;
        color: white;
        text-align: center;
        padding: 0;
        margin: 0 0 10px 0;
    }

    .content1{
        flex-flow: column;
    }
    

    .content2 div{
        text-align: center;
    }

    .age, .religion, .mon, .fon{
        padding: 0;
    }

    .age_content, .religion_content, .mon_content, .fon_content{
        padding: 0;
    }

    .div1{
        align-self: center;
        text-align: center;
    }

    .nos, .ya, .pos, .dos{
        display: none;
    }

    
    .prim_content_year, .sec_content_year, .ter_content_year{
        display: block;
        text-align: center;
        padding: 0 0 10px 0;
        
    }
    .prim, .prim_content, .sec, .sec_content, .ter, .ter_content{
        padding: 0;   
    }

    .primcontainer, .seccontainer, .tercontainer{
        text-align: center;
    }

    .boi{
        display: block;
        padding: 0;
    }

    .year{
        display: block;
        padding: 0 0 0 0;
    }

    .io, .boi, .year{
        text-align: center;
    }

    .main-container1{
        display: inline-block;
        padding: 0 10px 10px 10px;
        background-color: lightblue;
    }
    .main-container1 > div{
        display: flex;
        flex-flow: column wrap;
        text-align: center;
        list-style: none;
    }

    .main-container1 > div >h2{
        background-color: grey;
        color: white;
        font-size: 16px;
        margin: 10px 0 10px 0;
    }
}

@media (width: 320px) {
    .div1{
        font-size: 13px;
    }
}